// Font
@font-face {
  font-family: "HelveticaNeue";
  src: url(../font/HelveticaNeue.ttc);
}
// Main Style
* {
  font-family: "HelveticaNeue";
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
// Responsive
@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
// Home Page
.home-background {
  height: 100vh;
  position: relative;
  background-image: url(../images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  header {
    margin: 0 70px;
    padding: 26px 0;
    border-bottom: 1px solid #1a1a1a;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
  }
  .start-btn {
    width: 464px;
    height: 60px;
    background-color: #1a1a1a;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
  }
  .stamp-block {
    position: absolute;
    bottom: 40%;
    right: 35%;
    transform: translate(50%, 50%);
  }
}
// input info body
.main-content {
  display: flex;
}
.input-body {
  background-color: #f9f9f9;
  max-width: 1098px;
  width: 1098px;
  height: 100vh;
  padding: 49px 150px 65px;
}
.input-result {
  background-color: #ffffff;
  height: 100vh;
  width: 822px;
  max-width: 822px;
}
.input-body-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 12px;
  margin-bottom: 69px;
  border-bottom: 1px solid #1a1a1a;
}
// all input

.input-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 48px;
  margin-bottom: 30px;
}
.input-row {
  display: grid;
  margin-bottom: 30px;
}
.input-block {
  label {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
  }
  input {
    background-color: #ffffff;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    padding: 16px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.6);
    }
    &:focus {
      border: 2px solid #bcbcbc;
      outline: 0;
    }
  }
}
.input-hint {
  color: #2e2e2e;
  font-size: 14px;
}
// textarea
.textarea-body {
  margin-bottom: 30px;
  label {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
  }
  textarea {
    width: 100%;
    height: 103px;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    padding: 13px 16px;
    color: #000000;
    font-size: 16px;
    resize: none;
    &::placeholder {
      color: rgba(0, 0, 0, 0.6);
    }
    &:focus {
      border: 2px solid #bcbcbc;
      outline: 0;
    }
  }
}
// input:file

.input-file-body {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
  margin: 50px 0;
  label {
    cursor: pointer;
    display: flex;
  }
  input {
    display: none;
  }
  .file-button {
    width: 107px;
    height: 27px;
    background: #0e80bf;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    margin-left: 19px;
    font-weight: normal;
    padding: 5px 19px;
  }
}
// subbmit button

.subbmit-btn-block {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  button {
    background-color: #6b40e3;
    color: #ffffff;
    letter-spacing: 0.08em;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 35px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
  }
}
